#botoesheader{
display:flex;
}

.hrheader{
    height: 15px;
    width: 1px;
    margin: 2px 0px 6px 6px;
    background-color: gray;
}

#listraheader{
background-image:url("imagens/listraheader.jpg");
background-repeat: repeat-x;
height: 20px;
background-size: 100px 500px;
margin: 0px 0px 10px 0px;
}

#header1{
    background-color:lightgray

}

.botaoheader{
    background-color:lightsteelblue;
    margin: 0px 0px 0px 6px;
}

.divdobotao{
    display:flex;
    height: 15px;
    width: auto;
    font-size:10px;
    margin-block-start:0em;
}
p{
    margin-block-start:0em;
}
