#botaoheader{
display:flex;
}

.hrheader{
    height: 30px;
    width: 1px;
    margin: 2px 2px 0px 2px;
    background-color: gray;
}

#listraheader{
background-image:url("imagens/listraheader.jpg");
background-repeat: repeat-x;
height: 20px;
background-size: 100px 500px;
margin: 0px 0px 10px 0px;
}

#header1{
    background-color:lightgray

}

.botao{
    background-color:lightsteelblue;
    
}

.divdobotao{
    display:flex;
    height: 30px;
    width: auto;
}

