.floatright{
    display:flex;
    justify-content:right;
    width:80%;
    margin-left:auto;
}
.inverteX{
    transform:scaleX(-1)
}

.inverteY{
    transform:scaleY(-1)
}

.gira270{
    transform:rotate(270deg)
}

#divh1header1{
    display:flex;
    justify-content: center;
    height:50px;
}

#h1header1{
    margin-block-start:6px;
    white-space: nowrap;
}

#botoesheader{
display:flex;
width:auto;

}

.hrheader{
    height: 15px;
    width: 2px;
    margin: 2px 0px 6px 6px;
    background-color: rgb(177, 174, 174);
    border:0px;
}

#listraheader{
background-image:url("imagens/listraheader.jpg");
background-repeat: repeat-x;
height: 20px;
background-size: 100px 500px;
margin: 0px 0px 10px 0px;
}

#header1{
    background-color:lightgray;
    margin-block-start:-10px;
    margin-left:-10px;
    margin-right:-10px;

}

.botaoheader{
    background-color:rgb(219, 219, 219);
    margin: 0px 0px 0px 6px;
    border:1px solid rgb(156, 156, 156);
}
.pdobotao{
    font-size:10px;
    margin-block-start:2px;
    margin-left:4px;
    font-weight: 600; 
    white-space:nowrap;
}

.divdobotao{
    display:flex;
    height:15px;
    width: auto;
   
}


.dropdown{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}

.dropdown li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}

.dropdown li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.dropdown li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.dropdown li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.dropdown li:hover ul, .menu li.over ul{display:block;}

.dropdown li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

#body1{
    display:flex;
    background-color:lightgray;
    margin-left:-10px;
    margin-right:-10px;
}

#navegation{
    display:flex;
    width:400px;
    height:auto;
    background-color:#f2f2f2;
    flex-direction: column;
}

#navegationbotoes1{
    display:flex;
    width:auto;
}

.navegationbotao1{
    background-color:rgb(219, 219, 219);
    margin: 0px 0px 0px 6px;
    border:1px solid rgb(156, 156, 156);
    height:30px;
    width:auto;
}

.navegationbotao1 img{
    height:18px;
    width:auto;
}

.navegationp1{
    font-size:20px;
    margin-block-start:2px;
    margin-left:4px;
    font-weight: 600; 
    white-space:nowrap;
}

#navegation img{
    width:400px;
    height:auto;
}

#meiatela{
    display:flex;
    flex-direction: column;
    margin-left: 6px;
    width:100%;
}

#overview{
    display:flex;
    width:100%;
    height:500px;
    margin-bottom: 6px;
    background-color:#f2f2f2;
}

#atributes{
    display:flex;
    width:100%;
    height:320px;
    background-color:#f2f2f2;
}